.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/First Internship/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/First Internship/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/First Internship/FileContentIndex/1ada9f82-bfa7-44ae-bff0-2b48bf904775.vsidx
.vs/First Internship/v17/.wsuo
.vs/First Internship/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
